Integration Tools, Google Sheets, Microsoft 365 Excel.blueprint.json
{
    "name": "Integration Tools, Google Sheets, Microsoft 365 Excel",
    "flow": [
        {
            "id": 4,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 9056746
            },
            "mapper": {
                "from": "drive",
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING",
                "limit": "50",
                "spreadsheetId": "1y6TZXFTQvz0OeoyA9i-C1hkmk5nW-o_eaX0W3aHPrwM",
                "sheetId": "Sheet1",
                "includesHeaders": true,
                "tableFirstRow": "A1:Z1",
                "filter": [
                    [
                        {
                            "a": "G",
                            "o": "notexist"
                        }
                    ]
                ],
                "orderBy": "__ROW_NUMBER__",
                "sortOrder": "asc",
                "fieldType": "string"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "Fetch New Leads"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "Leads"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Sheet1"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "tableFirstRow": {
                            "label": "A-Z"
                        },
                        "orderBy": {
                            "mode": "chose",
                            "label": "Row number"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "fieldType": {
                            "mode": "chose",
                            "label": "String"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet Name",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "fieldType",
                        "type": "select",
                        "label": "Field Type",
                        "validate": {
                            "enum": [
                                "string",
                                "number",
                                "date"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "label": "Total number of bundles",
                        "type": "uinteger"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "label": "Bundle order position",
                        "type": "uinteger"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "label": "Row number",
                        "type": "number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "label": "Spreadsheet ID",
                        "type": "text"
                    },
                    {
                        "name": "__SHEET__",
                        "label": "Sheet",
                        "type": "text"
                    },
                    {
                        "name": "0",
                        "label": "Name (A)",
                        "type": "text"
                    },
                    {
                        "name": "1",
                        "label": "Email (B)",
                        "type": "text"
                    },
                    {
                        "name": "2",
                        "label": "Phone (C)",
                        "type": "text"
                    },
                    {
                        "name": "3",
                        "label": "Country (D)",
                        "type": "text"
                    },
                    {
                        "name": "4",
                        "label": "Budget (E)",
                        "type": "text"
                    },
                    {
                        "name": "5",
                        "label": "Source (F)",
                        "type": "text"
                    },
                    {
                        "name": "6",
                        "label": "Status (G)",
                        "type": "text"
                    },
                    {
                        "name": "7",
                        "label": "(H)",
                        "type": "text"
                    },
                    {
                        "name": "8",
                        "label": "(I)",
                        "type": "text"
                    },
                    {
                        "name": "9",
                        "label": "(J)",
                        "type": "text"
                    },
                    {
                        "name": "10",
                        "label": "(K)",
                        "type": "text"
                    },
                    {
                        "name": "11",
                        "label": "(L)",
                        "type": "text"
                    },
                    {
                        "name": "12",
                        "label": "(M)",
                        "type": "text"
                    },
                    {
                        "name": "13",
                        "label": "(N)",
                        "type": "text"
                    },
                    {
                        "name": "14",
                        "label": "(O)",
                        "type": "text"
                    },
                    {
                        "name": "15",
                        "label": "(P)",
                        "type": "text"
                    },
                    {
                        "name": "16",
                        "label": "(Q)",
                        "type": "text"
                    },
                    {
                        "name": "17",
                        "label": "(R)",
                        "type": "text"
                    },
                    {
                        "name": "18",
                        "label": "(S)",
                        "type": "text"
                    },
                    {
                        "name": "19",
                        "label": "(T)",
                        "type": "text"
                    },
                    {
                        "name": "20",
                        "label": "(U)",
                        "type": "text"
                    },
                    {
                        "name": "21",
                        "label": "(V)",
                        "type": "text"
                    },
                    {
                        "name": "22",
                        "label": "(W)",
                        "type": "text"
                    },
                    {
                        "name": "23",
                        "label": "(X)",
                        "type": "text"
                    },
                    {
                        "name": "24",
                        "label": "(Y)",
                        "type": "text"
                    },
                    {
                        "name": "25",
                        "label": "(Z)",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 14,
                            "module": "google-sheets:filterRows",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 9043262
                            },
                            "filter": null,
                            "mapper": {
                                "from": "drive",
                                "valueRenderOption": "FORMATTED_VALUE",
                                "dateTimeRenderOption": "FORMATTED_STRING",
                                "limit": "50",
                                "spreadsheetId": "1y6TZXFTQvz0OeoyA9i-C1hkmk5nW-o_eaX0W3aHPrwM",
                                "sheetId": "Sheet1",
                                "includesHeaders": true,
                                "tableFirstRow": "A1:Z1",
                                "filter": [
                                    [
                                        {
                                            "a": "B",
                                            "o": "exist"
                                        },
                                        {
                                            "a": "D",
                                            "o": "text:equal",
                                            "b": "USA"
                                        },
                                        {
                                            "a": "E",
                                            "o": "number:greaterorequal",
                                            "b": "10000"
                                        }
                                    ]
                                ],
                                "sortOrder": "asc"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 883,
                                    "y": 25,
                                    "name": "Is Qualified Lead"
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection (abidashsh011@gmail.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "from": {
                                            "label": "Select from My Drive"
                                        },
                                        "valueRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted value"
                                        },
                                        "dateTimeRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted string"
                                        },
                                        "spreadsheetId": {
                                            "mode": "chose",
                                            "label": "Leads"
                                        },
                                        "sheetId": {
                                            "mode": "chose",
                                            "label": "Sheet1"
                                        },
                                        "includesHeaders": {
                                            "mode": "chose",
                                            "label": "Yes"
                                        },
                                        "tableFirstRow": {
                                            "label": "A-Z"
                                        },
                                        "orderBy": {
                                            "mode": "chose"
                                        },
                                        "sortOrder": {
                                            "mode": "chose",
                                            "label": "Ascending"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueRenderOption",
                                        "type": "select",
                                        "label": "Value render option",
                                        "validate": {
                                            "enum": [
                                                "FORMATTED_VALUE",
                                                "UNFORMATTED_VALUE",
                                                "FORMULA"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "dateTimeRenderOption",
                                        "type": "select",
                                        "label": "Date and time render option",
                                        "validate": {
                                            "enum": [
                                                "SERIAL_NUMBER",
                                                "FORMATTED_STRING"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "select",
                                        "label": "Spreadsheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "tableFirstRow",
                                        "type": "select",
                                        "label": "Column range",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "A1:Z1",
                                                "A1:BZ1",
                                                "A1:CZ1",
                                                "A1:DZ1",
                                                "A1:MZ1",
                                                "A1:ZZ1",
                                                "A1:AZZ1",
                                                "A1:BZZ1",
                                                "A1:CZZ1",
                                                "A1:DZZ1",
                                                "A1:MZZ1",
                                                "A1:ZZZ1"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "filter",
                                        "type": "filter",
                                        "label": "Filter",
                                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                                    },
                                    {
                                        "name": "orderBy",
                                        "type": "select",
                                        "label": "Order by"
                                    },
                                    {
                                        "name": "sortOrder",
                                        "type": "select",
                                        "label": "Sort order",
                                        "validate": {
                                            "enum": [
                                                "asc",
                                                "desc"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__ROW_NUMBER__",
                                        "label": "Row number",
                                        "type": "number"
                                    },
                                    {
                                        "name": "__SPREADSHEET_ID__",
                                        "label": "Spreadsheet ID",
                                        "type": "text"
                                    },
                                    {
                                        "name": "__SHEET__",
                                        "label": "Sheet",
                                        "type": "text"
                                    },
                                    {
                                        "name": "0",
                                        "label": "Name (A)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "1",
                                        "label": "Email (B)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "2",
                                        "label": "Phone (C)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "3",
                                        "label": "Country (D)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "4",
                                        "label": "Budget (E)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "5",
                                        "label": "Source (F)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "6",
                                        "label": "Status (G)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "7",
                                        "label": "(H)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "8",
                                        "label": "(I)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "9",
                                        "label": "(J)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "10",
                                        "label": "(K)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "11",
                                        "label": "(L)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "12",
                                        "label": "(M)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "13",
                                        "label": "(N)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "14",
                                        "label": "(O)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "15",
                                        "label": "(P)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "16",
                                        "label": "(Q)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "17",
                                        "label": "(R)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "18",
                                        "label": "(S)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "19",
                                        "label": "(T)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "20",
                                        "label": "(U)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "21",
                                        "label": "(V)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "22",
                                        "label": "(W)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "23",
                                        "label": "(X)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "24",
                                        "label": "(Y)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "25",
                                        "label": "(Z)",
                                        "type": "text"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 18,
                            "module": "slack:CreateMessage",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 9053814
                            },
                            "mapper": {
                                "channelWType": "list",
                                "text": "🚨 *New Hot Lead Qualified!*\r\n• Name: {{14.`0`}}\r\n• Email: {{14.`1`}}\r\n• Country: {{14.`3`}}\r\n• Budget: ${{14.`4`}}\r\n• Source: {{14.`5`}}",
                                "parse": false,
                                "mrkdwn": true,
                                "channelType": "public",
                                "channel": "C0BH9SDE7LP"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1197,
                                    "y": -191,
                                    "name": "Notify Sales Team via Slack"
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "Abida (social-leads-group.slack.com - abidashsh011)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "slack2"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "channelWType": {
                                            "label": "Select from the list"
                                        },
                                        "reply_broadcast": {
                                            "mode": "chose"
                                        },
                                        "link_names": {
                                            "mode": "chose"
                                        },
                                        "parse": {
                                            "mode": "chose"
                                        },
                                        "mrkdwn": {
                                            "mode": "chose"
                                        },
                                        "unfurl_links": {
                                            "mode": "chose"
                                        },
                                        "unfurl_media": {
                                            "mode": "chose"
                                        },
                                        "channelType": {
                                            "label": "Public channel"
                                        },
                                        "channel": {
                                            "mode": "chose",
                                            "label": "social"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:slack2,slack3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "channelWType",
                                        "type": "select",
                                        "label": "Enter a channel ID or name",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "manualy",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "blocks",
                                        "type": "text",
                                        "label": "Blocks"
                                    },
                                    {
                                        "name": "thread_ts",
                                        "type": "text",
                                        "label": "Thread message ID (time stamp)"
                                    },
                                    {
                                        "name": "reply_broadcast",
                                        "type": "boolean",
                                        "label": "Reply broadcast"
                                    },
                                    {
                                        "name": "link_names",
                                        "type": "boolean",
                                        "label": "Link names"
                                    },
                                    {
                                        "name": "parse",
                                        "type": "boolean",
                                        "label": "Parse message text"
                                    },
                                    {
                                        "name": "mrkdwn",
                                        "type": "boolean",
                                        "label": "Use markdown"
                                    },
                                    {
                                        "name": "unfurl_links",
                                        "type": "boolean",
                                        "label": "Unfurl primarily text-based content"
                                    },
                                    {
                                        "name": "unfurl_media",
                                        "type": "boolean",
                                        "label": "Unfurl media content"
                                    },
                                    {
                                        "name": "icon_emoji",
                                        "type": "text",
                                        "label": "Icon emoji"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon url"
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "channelType",
                                        "type": "select",
                                        "label": "Channel type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "public",
                                                "private",
                                                "im",
                                                "mpim"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "channel",
                                        "type": "select",
                                        "label": "Public channel",
                                        "required": true
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 21,
                                    "module": "builtin:Ignore",
                                    "version": 1,
                                    "parameters": {},
                                    "mapper": {},
                                    "metadata": {
                                        "designer": {
                                            "x": 1665,
                                            "y": 202
                                        },
                                        "restore": {}
                                    }
                                }
                            ]
                        },
                        {
                            "id": 19,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 9054560
                            },
                            "mapper": {
                                "mode": "select",
                                "valueInputOption": "USER_ENTERED",
                                "from": "drive",
                                "spreadsheetId": "/1y6TZXFTQvz0OeoyA9i-C1hkmk5nW-o_eaX0W3aHPrwM",
                                "sheetId": "Sheet1",
                                "rowNumber": "{{14.`__ROW_NUMBER__`}}",
                                "includesHeaders": true,
                                "useColumnHeaders": true,
                                "values": {
                                    "Status": "Qualified"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1644,
                                    "y": -323,
                                    "name": "Update Sheet"
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection (abidashsh011@gmail.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Leads"
                                            ]
                                        },
                                        "sheetId": {
                                            "label": "Sheet1"
                                        },
                                        "includesHeaders": {
                                            "label": "Yes"
                                        },
                                        "useColumnHeaders": {
                                            "label": "Yes"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "rowNumber",
                                        "type": "uinteger",
                                        "label": "Row number",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "useColumnHeaders",
                                        "type": "select",
                                        "label": "Use column headers as IDs of the columns",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "type": "collection",
                                        "label": "Values in columns",
                                        "metadata": [
                                            [
                                                [
                                                    "Name",
                                                    "Email",
                                                    "Phone",
                                                    "Country",
                                                    "Budget",
                                                    "Source",
                                                    "Status"
                                                ]
                                            ]
                                        ],
                                        "spec": [
                                            {
                                                "name": "Name",
                                                "type": "text",
                                                "label": "Name (A)"
                                            },
                                            {
                                                "name": "Email",
                                                "type": "text",
                                                "label": "Email (B)"
                                            },
                                            {
                                                "name": "Phone",
                                                "type": "text",
                                                "label": "Phone (C)"
                                            },
                                            {
                                                "name": "Country",
                                                "type": "text",
                                                "label": "Country (D)"
                                            },
                                            {
                                                "name": "Budget",
                                                "type": "text",
                                                "label": "Budget (E)"
                                            },
                                            {
                                                "name": "Source",
                                                "type": "text",
                                                "label": "Source (F)"
                                            },
                                            {
                                                "name": "Status",
                                                "type": "text",
                                                "label": "Status (G)"
                                            }
                                        ]
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 22,
                                    "module": "builtin:Ignore",
                                    "version": 1,
                                    "parameters": {},
                                    "mapper": {},
                                    "metadata": {
                                        "designer": {
                                            "x": 1856,
                                            "y": -60
                                        },
                                        "restore": {}
                                    }
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 24,
                            "module": "google-sheets:filterRows",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 9054570
                            },
                            "mapper": {
                                "from": "drive",
                                "valueRenderOption": "FORMATTED_VALUE",
                                "dateTimeRenderOption": "FORMATTED_STRING",
                                "limit": "50",
                                "spreadsheetId": "1y6TZXFTQvz0OeoyA9i-C1hkmk5nW-o_eaX0W3aHPrwM",
                                "sheetId": "Sheet1",
                                "includesHeaders": true,
                                "tableFirstRow": "A1:Z1",
                                "filter": [
                                    [
                                        {
                                            "a": "B",
                                            "o": "exist"
                                        },
                                        {
                                            "a": "E",
                                            "o": "number:less",
                                            "b": "10000"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "D",
                                            "o": "text:notequal",
                                            "b": "USA"
                                        }
                                    ]
                                ],
                                "sortOrder": "asc"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 810,
                                    "y": 374,
                                    "name": "Not Qualified"
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection (abidashsh011@gmail.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "from": {
                                            "label": "Select from My Drive"
                                        },
                                        "valueRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted value"
                                        },
                                        "dateTimeRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted string"
                                        },
                                        "spreadsheetId": {
                                            "mode": "chose",
                                            "label": "Leads"
                                        },
                                        "sheetId": {
                                            "mode": "chose",
                                            "label": "Sheet1"
                                        },
                                        "includesHeaders": {
                                            "mode": "chose",
                                            "label": "Yes"
                                        },
                                        "tableFirstRow": {
                                            "label": "A-Z"
                                        },
                                        "orderBy": {
                                            "mode": "chose"
                                        },
                                        "sortOrder": {
                                            "mode": "chose",
                                            "label": "Ascending"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueRenderOption",
                                        "type": "select",
                                        "label": "Value render option",
                                        "validate": {
                                            "enum": [
                                                "FORMATTED_VALUE",
                                                "UNFORMATTED_VALUE",
                                                "FORMULA"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "dateTimeRenderOption",
                                        "type": "select",
                                        "label": "Date and time render option",
                                        "validate": {
                                            "enum": [
                                                "SERIAL_NUMBER",
                                                "FORMATTED_STRING"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "select",
                                        "label": "Spreadsheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "tableFirstRow",
                                        "type": "select",
                                        "label": "Column range",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "A1:Z1",
                                                "A1:BZ1",
                                                "A1:CZ1",
                                                "A1:DZ1",
                                                "A1:MZ1",
                                                "A1:ZZ1",
                                                "A1:AZZ1",
                                                "A1:BZZ1",
                                                "A1:CZZ1",
                                                "A1:DZZ1",
                                                "A1:MZZ1",
                                                "A1:ZZZ1"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "filter",
                                        "type": "filter",
                                        "label": "Filter",
                                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                                    },
                                    {
                                        "name": "orderBy",
                                        "type": "select",
                                        "label": "Order by"
                                    },
                                    {
                                        "name": "sortOrder",
                                        "type": "select",
                                        "label": "Sort order",
                                        "validate": {
                                            "enum": [
                                                "asc",
                                                "desc"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "label": "Total number of bundles",
                                        "type": "uinteger"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "label": "Bundle order position",
                                        "type": "uinteger"
                                    },
                                    {
                                        "name": "__ROW_NUMBER__",
                                        "label": "Row number",
                                        "type": "number"
                                    },
                                    {
                                        "name": "__SPREADSHEET_ID__",
                                        "label": "Spreadsheet ID",
                                        "type": "text"
                                    },
                                    {
                                        "name": "__SHEET__",
                                        "label": "Sheet",
                                        "type": "text"
                                    },
                                    {
                                        "name": "0",
                                        "label": "Name (A)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "1",
                                        "label": "Email (B)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "2",
                                        "label": "Phone (C)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "3",
                                        "label": "Country (D)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "4",
                                        "label": "Budget (E)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "5",
                                        "label": "Source (F)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "6",
                                        "label": "Status (G)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "7",
                                        "label": "(H)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "8",
                                        "label": "(I)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "9",
                                        "label": "(J)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "10",
                                        "label": "(K)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "11",
                                        "label": "(L)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "12",
                                        "label": "(M)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "13",
                                        "label": "(N)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "14",
                                        "label": "(O)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "15",
                                        "label": "(P)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "16",
                                        "label": "(Q)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "17",
                                        "label": "(R)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "18",
                                        "label": "(S)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "19",
                                        "label": "(T)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "20",
                                        "label": "(U)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "21",
                                        "label": "(V)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "22",
                                        "label": "(W)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "23",
                                        "label": "(X)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "24",
                                        "label": "(Y)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "25",
                                        "label": "(Z)",
                                        "type": "text"
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 26,
                                    "module": "builtin:Ignore",
                                    "version": 1,
                                    "parameters": {},
                                    "mapper": {},
                                    "metadata": {
                                        "designer": {
                                            "x": 1200,
                                            "y": 450
                                        },
                                        "restore": {}
                                    }
                                }
                            ]
                        },
                        {
                            "id": 25,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 9054536
                            },
                            "mapper": {
                                "mode": "select",
                                "valueInputOption": "USER_ENTERED",
                                "from": "drive",
                                "spreadsheetId": "/1y6TZXFTQvz0OeoyA9i-C1hkmk5nW-o_eaX0W3aHPrwM",
                                "sheetId": "Sheet1",
                                "rowNumber": "{{24.`__ROW_NUMBER__`}}",
                                "includesHeaders": true,
                                "useColumnHeaders": true,
                                "values": {
                                    "Status": "Not Qualified"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1296,
                                    "y": 148,
                                    "name": "Update Sheet"
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection (abidashsh011@gmail.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Leads"
                                            ]
                                        },
                                        "sheetId": {
                                            "label": "Sheet1"
                                        },
                                        "includesHeaders": {
                                            "label": "Yes"
                                        },
                                        "useColumnHeaders": {
                                            "label": "Yes"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "rowNumber",
                                        "type": "uinteger",
                                        "label": "Row number",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "useColumnHeaders",
                                        "type": "select",
                                        "label": "Use column headers as IDs of the columns",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "type": "collection",
                                        "label": "Values in columns",
                                        "metadata": [
                                            [
                                                [
                                                    "Name",
                                                    "Email",
                                                    "Phone",
                                                    "Country",
                                                    "Budget",
                                                    "Source",
                                                    "Status"
                                                ]
                                            ]
                                        ],
                                        "spec": [
                                            {
                                                "name": "Name",
                                                "type": "text",
                                                "label": "Name (A)"
                                            },
                                            {
                                                "name": "Email",
                                                "type": "text",
                                                "label": "Email (B)"
                                            },
                                            {
                                                "name": "Phone",
                                                "type": "text",
                                                "label": "Phone (C)"
                                            },
                                            {
                                                "name": "Country",
                                                "type": "text",
                                                "label": "Country (D)"
                                            },
                                            {
                                                "name": "Budget",
                                                "type": "text",
                                                "label": "Budget (E)"
                                            },
                                            {
                                                "name": "Source",
                                                "type": "text",
                                                "label": "Source (F)"
                                            },
                                            {
                                                "name": "Status",
                                                "type": "text",
                                                "label": "Status (G)"
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 34,
                            "module": "google-sheets:filterRows",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 9058394
                            },
                            "mapper": {
                                "from": "drive",
                                "valueRenderOption": "FORMATTED_VALUE",
                                "dateTimeRenderOption": "FORMATTED_STRING",
                                "limit": "50",
                                "spreadsheetId": "1y6TZXFTQvz0OeoyA9i-C1hkmk5nW-o_eaX0W3aHPrwM",
                                "sheetId": "Sheet1",
                                "includesHeaders": true,
                                "tableFirstRow": "A1:Z1",
                                "filter": [
                                    [
                                        {
                                            "a": "B",
                                            "o": "notexist"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "D",
                                            "o": "notexist"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "E",
                                            "o": "notexist"
                                        }
                                    ]
                                ],
                                "sortOrder": "asc"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 876,
                                    "y": -459,
                                    "name": "Check Invalid Leads"
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "from": {
                                            "label": "Select from My Drive"
                                        },
                                        "valueRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted value"
                                        },
                                        "dateTimeRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted string"
                                        },
                                        "spreadsheetId": {
                                            "mode": "chose",
                                            "label": "Leads"
                                        },
                                        "sheetId": {
                                            "mode": "chose",
                                            "label": "Sheet1"
                                        },
                                        "includesHeaders": {
                                            "mode": "chose",
                                            "label": "Yes"
                                        },
                                        "tableFirstRow": {
                                            "label": "A-Z"
                                        },
                                        "orderBy": {
                                            "mode": "chose"
                                        },
                                        "sortOrder": {
                                            "mode": "chose",
                                            "label": "Ascending"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueRenderOption",
                                        "type": "select",
                                        "label": "Value render option",
                                        "validate": {
                                            "enum": [
                                                "FORMATTED_VALUE",
                                                "UNFORMATTED_VALUE",
                                                "FORMULA"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "dateTimeRenderOption",
                                        "type": "select",
                                        "label": "Date and time render option",
                                        "validate": {
                                            "enum": [
                                                "SERIAL_NUMBER",
                                                "FORMATTED_STRING"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "select",
                                        "label": "Spreadsheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "tableFirstRow",
                                        "type": "select",
                                        "label": "Column range",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "A1:Z1",
                                                "A1:BZ1",
                                                "A1:CZ1",
                                                "A1:DZ1",
                                                "A1:MZ1",
                                                "A1:ZZ1",
                                                "A1:AZZ1",
                                                "A1:BZZ1",
                                                "A1:CZZ1",
                                                "A1:DZZ1",
                                                "A1:MZZ1",
                                                "A1:ZZZ1"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "filter",
                                        "type": "filter",
                                        "label": "Filter",
                                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                                    },
                                    {
                                        "name": "orderBy",
                                        "type": "select",
                                        "label": "Order by"
                                    },
                                    {
                                        "name": "sortOrder",
                                        "type": "select",
                                        "label": "Sort order",
                                        "validate": {
                                            "enum": [
                                                "asc",
                                                "desc"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "label": "Total number of bundles",
                                        "type": "uinteger"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "label": "Bundle order position",
                                        "type": "uinteger"
                                    },
                                    {
                                        "name": "__ROW_NUMBER__",
                                        "label": "Row number",
                                        "type": "number"
                                    },
                                    {
                                        "name": "__SPREADSHEET_ID__",
                                        "label": "Spreadsheet ID",
                                        "type": "text"
                                    },
                                    {
                                        "name": "__SHEET__",
                                        "label": "Sheet",
                                        "type": "text"
                                    },
                                    {
                                        "name": "0",
                                        "label": "Name (A)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "1",
                                        "label": "Email (B)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "2",
                                        "label": "Phone (C)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "3",
                                        "label": "Country (D)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "4",
                                        "label": "Budget (E)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "5",
                                        "label": "Source (F)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "6",
                                        "label": "Status (G)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "7",
                                        "label": "(H)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "8",
                                        "label": "(I)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "9",
                                        "label": "(J)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "10",
                                        "label": "(K)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "11",
                                        "label": "(L)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "12",
                                        "label": "(M)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "13",
                                        "label": "(N)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "14",
                                        "label": "(O)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "15",
                                        "label": "(P)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "16",
                                        "label": "(Q)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "17",
                                        "label": "(R)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "18",
                                        "label": "(S)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "19",
                                        "label": "(T)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "20",
                                        "label": "(U)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "21",
                                        "label": "(V)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "22",
                                        "label": "(W)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "23",
                                        "label": "(X)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "24",
                                        "label": "(Y)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "25",
                                        "label": "(Z)",
                                        "type": "text"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 35,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 9058451
                            },
                            "mapper": {
                                "mode": "select",
                                "valueInputOption": "USER_ENTERED",
                                "from": "drive",
                                "spreadsheetId": "/1y6TZXFTQvz0OeoyA9i-C1hkmk5nW-o_eaX0W3aHPrwM",
                                "sheetId": "Sheet1",
                                "rowNumber": "{{34.`__ROW_NUMBER__`}}",
                                "includesHeaders": true,
                                "useColumnHeaders": true,
                                "values": {
                                    "Status": "Invalid"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1176,
                                    "y": -459,
                                    "name": "Update sheet"
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection (abidashsh011@gmail.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Leads"
                                            ]
                                        },
                                        "sheetId": {
                                            "label": "Sheet1"
                                        },
                                        "includesHeaders": {
                                            "label": "Yes"
                                        },
                                        "useColumnHeaders": {
                                            "label": "Yes"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "rowNumber",
                                        "type": "uinteger",
                                        "label": "Row number",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "useColumnHeaders",
                                        "type": "select",
                                        "label": "Use column headers as IDs of the columns",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "type": "collection",
                                        "label": "Values in columns",
                                        "metadata": [
                                            [
                                                [
                                                    "Name",
                                                    "Email",
                                                    "Phone",
                                                    "Country",
                                                    "Budget",
                                                    "Source",
                                                    "Status"
                                                ]
                                            ]
                                        ],
                                        "spec": [
                                            {
                                                "name": "Name",
                                                "type": "text",
                                                "label": "Name (A)"
                                            },
                                            {
                                                "name": "Email",
                                                "type": "text",
                                                "label": "Email (B)"
                                            },
                                            {
                                                "name": "Phone",
                                                "type": "text",
                                                "label": "Phone (C)"
                                            },
                                            {
                                                "name": "Country",
                                                "type": "text",
                                                "label": "Country (D)"
                                            },
                                            {
                                                "name": "Budget",
                                                "type": "text",
                                                "label": "Budget (E)"
                                            },
                                            {
                                                "name": "Source",
                                                "type": "text",
                                                "label": "Source (F)"
                                            },
                                            {
                                                "name": "Status",
                                                "type": "text",
                                                "label": "Status (G)"
                                            }
                                        ]
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 11,
                                    "module": "builtin:Ignore",
                                    "version": 1,
                                    "parameters": {},
                                    "mapper": {},
                                    "metadata": {
                                        "designer": {
                                            "x": 1517,
                                            "y": -532
                                        },
                                        "restore": {}
                                    }
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}